@media only screen and (max-width:1024px){ 
    .calculator{
        width: 32%;
    }
}
@media only screen and (max-width:768px){ 
    .calculator{
        width: 42%;
    }
}
@media only screen and (max-width:320px){ 
    .calculator{
        width:80%;
    }
    .display{
        width: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .input{
        width: 240px;
        padding-right: 20px;
    }
    button{
        height: 50px;
        width: 50px;
    }
    
}